*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(#12121200 0%,#383838 100% ), url("img/bg-f.jpg");
}
.banner-details {
    align-items: center;
    text-align: center;
    color: #f88b8b;
    padding: 15% 20% 0% 20%;
    justify-content: center;
}
.banner-details h1{
    font-size: 65px;
    padding:10px;
}
.banner-details p{
    padding-bottom: 20px;
    color: rgb(238, 186, 186);
    letter-spacing: 2px;
}
.btn{
    font-size: 20px;
    background-color: #FF5959;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    color: white;
    border-radius: 10px;
    transition: 2s;
}
.btn:hover{
    background-color: rgb(235, 235, 235);
    color: #FF5959;
}
.donate{
    margin: 100px 250px 50px 250px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.donate-head{
    text-align: center;
}
.donate-head h2{
    font-size: 45px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.donate-head p{
    color: #f88b8b;
    letter-spacing: 2px;
}
.amount {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.amount p{
    padding:40px 25px;
    background-color: #FAFAFA;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    color:  #707070;
}
.amount .ex{
    border:2px solid #FF5959;
    color: #FF5959;
    background-color: #FFEEEE;
}
.donate h3{
    font-size: 18px;
    color: #B3B3B3;
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
   border-bottom: 1px solid #B3B3B3;
    
}
.more{
    text-align: center;
}
.more .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.donate-plan{
    text-align: center;
    margin: 20px 10%;
}
.plan-details h2{
    font-size: 45px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.plan-details p{
    color: #f88b8b;
    letter-spacing: 2px;
   padding: 0 100px;
    text-align: center;
}
.card{
    display: flex;
    margin: 50px 0;
}
.box h4{
    padding: 20px 0;
    font-size: 24px;
}
.box p{
    color:  #707070;
}
.box-1{
    background-color: rgba(79, 157, 166, 0.1);
    margin: 20px;
    padding: 50px 20px;
    text-align: left;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.box-2{
    background-color: rgba(255, 89, 89, 0.1);
    margin: 20px;
    padding: 50px 20px;
    text-align: left;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
.box-3{
    background-color: #FFF4D6;
    margin: 20px;
    padding: 50px 20px;
    text-align: left;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
.image{
    margin: 10px 10%;
}
.first-part{
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-right: 70px;
}
.half-width h2{
    font-size: 35px;
    padding-bottom: 15px;
}
.half-width p{
    font-size: 18px;
    padding-bottom: 30px;
    color: #707070;
}
.first-img{
    width: 100%;
    border-radius: 50px;
}